/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

html
  height 100%
  border-style none!important

 body
  background rgb(7,43,51);
  background linear-gradient(238deg, rgba(7,43,51,1) 0%, rgba(13,13,60,1) 35%, rgba(7,43,51,1) 100%)!important
  background-position center
  background-repeat no-repeat
  min-height 100%
  max-width 100%
  border-style none!important

.home .hero img
  max-width 450px!important
  border-radius 100px!important

th,td,tr
 border 0px !important
 background-color inherit!important
 color green!important

.navbar
  position fixed
  z-index 20
  top 0
  left 0
  right 0
  height $navbarHeight
  background-color #239B56!important
  box-sizing border-box
  border-bottom 1px solid $borderColor

.nav-links,.router-link-active
  color: white !important


.links
  background inherit

.sidebar
  background grey!important
  border-style none!important
  
#app > div.theme-container > aside > ul > li > section > p
 color #084C61!important

.theme-container no-sidebar
  background rgb(7,43,51)!important
  background linear-gradient(to bottom,0deg, rgba(30,19,48,1) 0%)!important

.navbar .links
  background inherit!important

.theme-container
  background inherit

#app > div.theme-container > aside > ul > li > section > ul > li > a
  color black!important

.theme-default-content h1,h2,h3
 text-align center


.navbar
  background inherit!important

header
  position sticky
  top 0
  background inherit
  border-style none!important

.nav-links
  background inherit

.links
  background inherit


.site-name
  color white!important

p
  color white!important

.sidebar-link
  color black!important

h1,h2,h3,h4,h5,h6
  color white!important
ul li
  color white!important

footer
  background inherit

table
  background-color inherit
