/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */


html, body
  padding 0!important
  margin 0!important
  background-color #239B56!important

.home .hero img
  max-width 450px!important
  border-radius 100px!important


.navbar
  position fixed
  z-index 20
  top 0
  left 0
  right 0
  height $navbarHeight
  background-color #239B56!important
  box-sizing border-box
  border-bottom 1px solid $borderColor

.links
  background-color #239B56!important

.sidebar
  background-color #239B56!important

tr
  background-color #239B56!important